<!DOCTYPE html>
<html>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="about">
        <h1>AREAS OF STUDY</h1>
        <p>--COMPUTERS.</p>
        <p>--</p>
        <h5>SITE NAVIGATION</h5>
        <li><a href="{{ url_for('home') }}">HOME</a></li>
        <li><a href="{{ url_for('assignments') }}">ASSIGNMENTS</a></li>
        <p>--</p>
        <h5>EXTERNAL LINKS</h5>
        <a href="https://en.everybodywiki.com/Maritime_Capital_Partners_LP">Bo Dincer</a>
        <a href="https://www.scribd.com/document/386161673/Bo-Dincer-New-York-City-Fixed-Income-Trader-Baris-Dincer-Maritime-Capital">Bo Dincer</a>
        <a href="https://www.linkedin.com/in/bodincer">LinkedIn</a>
        <a href="https://youtu.be/3OX9UyXrEHg">Columbia Panels</a>
        <a href="https://www.youtube.com/watch?v=bii0p9AnBEE&feature=youtu.be">Congressional Panels</a>
        <a href="https://www.youtube.com/watch?v=_yhyLD8q-qU&feature=youtu.be">The Trustees of Columbia University</a>
        <a href="https://www.eliteprospects.com/player/670307/bo-dincer">Elite Prospects</a>
        <a href="https://www.columbiahutchmen.com/">Columbia Hutchmen</a>
        <a href="https://github.com/boVantage007/bd2561-final">GitHub</a>
    </div>
    {% endblock %}
</body>
</html>