<!DOCTYPE html>
<html>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="assignments">
        <h4>SCHEDULE OF COMPLETED ASSIGNMENTS</h4>
        <h5>HW5</h5>
        <pre>
            STATISTICS USING PANDAS:
                    --Skewness, kurtosis, Mean/Std Deviation.

            SEABORN HEATMAPS AND PAIRPLOTS:
                    --Heatmap of the column correlations.
                    --Multi-Dimensional Pairplots.

            SCIKIT MACHINE LEARNING:
                    --K nearest neighbors algorithms.
                    --SVC: Support Vector Classification.
            </pre>
        <h5>MIDTERM</h5>
        <pre>
            PPM (Portable Pix Map) IMAGE MANIPULATION AND FORMATTING:
            --Implements a user session and a front end interface.
                   --Manipulating RGB values in ppm files.
                   --Writing to and from disk.
                   --Conversion of color images to black and white.
            </pre>
        <h5>HW4</h5>
        <pre>
            OBJECT ORIENTED PROGRAMMING:
            --Implements a user session and a front end interface in python
                --Reads and interprets error messages.
                --Plotting information using Matlab
            </pre>
        <h5>HW3B</h5>
        <pre>
            INPUT AND OUTPUT USING NUMPY ARRAYS:
            --Implements a user session and a front end interface in python.
                --Reading and writing numpy arrays of binary numbers as boolean gates.
                --Analysis of open and blocked systems of integers which percolate.

            ANALYSIS OF HUMAN BREAST CANCER TISSUE DATA:
            --Program predicts whether a given tumor is benign or malignant with 95%+ accuracy.
            </pre>
        <h5>HW3A</h5>
        <pre>
            ANALYSIS OF THE TIME COMPLEXITY USING DICTIONARIES AND LISTS:
            --Recursive analysis methods.
            </pre>
        <h5>HW2B</h5>
        <pre>
            CALCULATES THE POSITION OF A PROJECTILE:
            --Analysis of the variation of gravitational acceleration with altitude.
            --Simulation of the projectile's motion through space.
            --TrackS the simulation points using a multi-dimensional array of lists.
            </pre>
        <h5>HW2A</h5>
        <pre>
            TIME COMPLEXITY ANALYSIS FOR VARIOUS METHODS:
            --Selection Sort.
            --Sequential Search.
            --Binary Search.
            </pre>
        <h5>HW1B</h5>
        <pre>
            MAINTAINS A I/O SESSION USING AN INTERACTIVE USER INTERFACE:
            --Working with python lists, tuples, etc.
            </pre>
        <h5>HOMEWORK 1A</h5>
        <pre>
            BINARY NUMBER MANIPULATION:
            --Pseudocode for algorithms using decimal input precision.
            --Signed Binary.
            --One’s Complement, Two’s Complement. 
            --Octal; Hexadecimal Analysis.
            </pre>
        <h4>FAVORITE SUBJECTS</h4>
        <pre>
        --Jurisprudence.
        --The Free Speech Century.
        --Information Technology.
        </pre>
        <h5>SITE NAVIGATION</h5>
        <li><a href="{{ url_for('home') }}">HOME</a></li>
        <li><a href="{{ url_for('about') }}">ABOUT</a></li>
        <p> </p>
        <h5>EXTERNAL LINKS</h5>
        <a href="https://en.everybodywiki.com/Maritime_Capital_Partners_LP">[ Wikipedia ]</a>
        <a href="https://www.scribd.com/document/386161673/Bo-Dincer-New-York-City-Fixed-Income-Trader-Baris-Dincer-Maritime-Capital">[ Trader ]</a>
        <a href="https://www.linkedin.com/in/bodincer">[ LinkedIn ]</a>
        <p> </p>
        <a href="https://youtu.be/3OX9UyXrEHg">[ Columbia University ]</a>
        <a href="https://www.youtube.com/watch?v=bii0p9AnBEE&feature=youtu.be">[ Panels]</a>
        <a href="https://www.youtube.com/watch?v=_yhyLD8q-qU&feature=youtu.be">[ Trustees ]</a>
        <p> </p>
        <a href="https://www.eliteprospects.com/player/670307/bo-dincer">[ Elite Prospects ]</a>
        <a href="https://www.columbiahutchmen.com/">[ The Columbia Hutchmen ]</a>
        <a href="https://github.com/boVantage007/bd2561-final">[ GitHub ]</a>
    </div>
    {% endblock %}
</body>
</html>
