<!DOCTYPE html>
<html>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="home">
        <h1>BO DINCER</h1>
        <img src="https://github.com/boVantage007/bd2561-final/blob/master/templates/selfImage.png?raw=true">
        <h4>CURRENT GRADE: 75</h4>
        <h4>CURRENT MAJOR: NA</h4>
        <p>--</p>
        <h5>SITE NAVIGATION</h5>
        <li><a href="{{ url_for('about') }}">ABOUT</a></li>
        <li><a href="{{ url_for('assignments') }}">ASSIGNMENTS</a></li>
        <p>--</p>
        <h5>EXTERNAL LINKS</h5>
        <a href="https://github.com/boVantage007/bd2561-final">GIT REPOSITORY</a>
        <a href="https://www.linkedin.com/in/bodincer">LINKEDIN</a>
        <a href="https://www.columbiahutchmen.com/">COLUMBIA UNIVERSITY ICE HOCKEY</a>
        <a href="https://www.eliteprospects.com/player/670307/bo-dincer">ELITE PROSPECTS</a>
    </div>
    {% endblock %}
</body>
</html>